<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <style>
    body{ background-image:url(https://source.unsplash.com/XUfyxE02Z2M);background-repeat: no-repeat;
      background-size:cover ;}
  </style>
  <body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid ">
          <a class="navbar-brand fs-4" href="#">ToDo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container text-center">
          <div class="collapse navbar-collapse text-center " id="navbarSupportedContent">
           
            <ul class="navbar-nav  fs-5 ">
              <li class="nav-item mx-5">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " href="/task">Task</a>
              </li>
            </ul>
          </div>
        </div>
      <hr>
    </nav>
   
    {% if success %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Done!</strong> Task has been added
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="container ">
    <h1 class="container my-3 text-center"><strong>Your ToDo list-Add Task</strong></h1>
    <form action="/" method="POST">
    {% csrf_token %}
      
    <div class="mb-3">
          
          <label for="formGroupExampleInput" class="form-label">Task Name</label>
          <input type="text"   name="title" class="form-control opacity-75" id="text" placeholder="Enter the name of Task">
        </div>
        <div class="form-floating opacity-75">
          <textarea name="desc" class="form-control " placeholder="Leave a comment here" id="textarea" style="height: 200px"></textarea>
          <label for="textarea">Task Discription</label>
        </div>
        <div class="col-12 my-3">
          <button name="text" type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
    </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>